p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(240, 166, 240);
}

table, tr, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
  }
  
  td {
    text-align: center;
    border: 1px solid black;
    height: 40px;
    vertical-align: bottom;

  }

  .filterCars{
      display: flex;
    justify-content: center;
    text-align: flex-start;
    align-items: center;
    margin: 0;
    padding: 10px;
    

  }
  #model{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #05060a;
    font-style: oblique;
    font-size: 15px;
  }
  #make{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #05060a;
    font-style: oblique;
    font-size: 15px;
}
#color{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #05060a;
    font-style: oblique;
    font-size: 15px;
}
.homeBtn{
    box-sizing: border-box;
    border: 2px solid rgb(12, 12, 12);
       border-radius: 4px;
       font-size: 16px;
       background-color: white;
       background-position: 10px 10px;
       padding: 5px 10px 5px 10px;display: flex;
       justify-content: center;
       text-align: flex-start;
       align-items: center;

}
.carImage{
    text-align: center;
}