p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(240, 166, 240);
}

table, tr, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
  }
  
  td {
    text-align: center;
    border: 1px solid black;
    height: 20px;
    vertical-align: bottom;

  }

  .filterCars{
      display: flex;
    justify-content: center;
    text-align: flex-start;
    align-items: center;
    margin: 0;
    padding: 8px;
    

  }
  
  #make{
    background-color: #3498DB;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
#color{
  background-color: #3498DB;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
.homeBtn{
  padding: 10px 25px;
     border-radius: 8px;
     background-color: pink;
      color:plum;
      border: 2px solid #05060a;
      font-style: oblique;
      font-size: 10px;
      margin: 15px;
  }
  .Button{
    display: flex;
    justify-content: center;
    text-align: flex-start;
    align-items: center;
  }
.carImage{
    text-align: center;
}
.make{
  box-sizing: border-box;
       border: 1px solid #ccc;
       border-radius: 4px;
       font-size: 16px;
       background-color: white;
       background-position: 8px 8px;
       background-repeat: no-repeat;
       padding: 3px 8px 3px 8px;
       margin: 8px;
}
.color{
      box-sizing: border-box;
       border: 2px solid #ccc;
       border-radius: 4px;
       font-size: 16px;
       background-color: white;
       background-position: 8px 8px;
       background-repeat: no-repeat;
       padding: 3px 8px 3px 8px;
       margin: 8px;
}
.btn{
  box-sizing: border-box;
       border: 2px solid #ccc;
       border-radius: 4px;
       font-size: 16px;
       background-color: white;
       background-position: 8px 8px;
       background-repeat: no-repeat;
       background-color: rgb(248, 102, 248);
       padding: 3px 8px 3px 8px;
       margin: 8px;
}
ul{
  list-style-type: circle;

}